.btn {
  border: 1px solid #cfd9de;
  border-radius: 60px;
  padding: 0.6rem 0.5rem;
  font-size: 15px;
  font-weight: 700;
  transition: 0.2s all ease-in;
}

.btn:hover {
  cursor: pointer;
}

.primary {
  background: #fff;
}

.primary:hover {
  background: #e6e6e6;
}

.secondary {
  background: #1da1f2;
  color: #fff;
  opacity: 1;
}

.secondary:hover {
  opacity: 0.8;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
