@import '../../main';

.discuss {
  border-bottom: $border;
  display: flex;
  flex-direction: column;

  .discussion-box {
    padding: 1rem;
    font-size: 1.3rem;
    resize: none;
    border: none;
    letter-spacing: 1px;
    overflow: hidden;
    line-height: 30px;
    max-height: 300px;
    min-height: 24px;
    outline: none;

    &[placeholder]:empty:before {
      content: attr(placeholder);
      color: $ternaryColor;
    }
  }

  .border {
    width: 80%;
    height: 1px;
    background-color: $borderColor;
    align-self: center;
  }

  & > button {
    width: 7rem;
    margin: 1rem;
  }
}
